<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign In</title>
  </head>
  <body>
    <div class="page-container">

        <div class="sidebar">
          <%- include('../partials/sidebar')%>
        </div>
      <div class="auth-area">
          <div class="heading">
            <h1>Sign in</h1>
          </div>
        <div class="sign-in-container">
          <form action="/auth/sign-in" method="POST">
            <label for="username" class="hidden">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username:"/>
            <label for="password" class="hidden">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password:"/>
            <button type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>