<div class="sign-buttons">
    <% if (user) { %>
        <a href="/users">Your Account</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign up</a> 
       <a href="/auth/sign-in">sign in</a>
    <% } %>
</div>
<div class="nav-buttons">
    <a href="/">Home</a>
    <a href="/facts">List</a>
    <a href="/about">About</a>
</div>