<p class="sign-buttons">
    <% if (user) { %>
        <button><a href="/auth/sign-out">Sign out</a></button>
    <% } else { %>
        <button><a href="/auth/sign-up">Sign up</a></button> <button><a href="/auth/sign-in">sign in</a></button>
    <% } %>
</p>