<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
            <div class="sidebar">
                <%- include('partials/sidebar')%>
            </div>
            <div class="main-area">
                <h2>THIS IS THE ABOUT PAGE</h2>
            </div>

         </div>
  </body>
</html>