<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
            <div class="sidebar">
                <%- include('partials/sidebar')%>
            </div>
            <div class="main-area">
                <div class="heading">
                    <% if (user) { %>
                        <h1>Welcome back, <%= user.username %>!</h1>
                    <% } else { %>
                        <h1>You have stumbled upon the not so secret society of snapple fact enthusiasts!</h1>
                    <% } %>
                </div>

                <div class="search-container">
                    <form action="/" method="get">
                        <input type="text" name="query" id="searchInput" placeholder="Find a specific number">
                        <button type="submit">Find</button>
                    </form>
                </div>

                <div class="fact-container green">
                    <h2 class="fact-title">Snapple Fact # <%= snappleFact.number %></h2>
                    <p class="fact-text"><%= snappleFact.fact %></p>
                    <div class="fact-buttons">
                        <button class="arrow-button"><--</button>
                        <button class="random-button"><a href="/">Randomize</a></button>
                        <button class="arrow-button">--></button>
                    </div>
                </div>

            </div>

         </div>

  </body>
</html>