html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(67, 67, 67);
}

h2 {
    margin:0
}

.page-container {  
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar main-area";
      height: 100%;
}
  
.main-area { 
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.3fr 2.4fr 0.3fr; 
    grid-template-rows: 0.5fr 0.3fr 2.2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". heading ."
      ". search-container ."
      ". fact-container ."
      ". comment-container ."; 
}

.heading { grid-area: heading; }
.search-container { grid-area: search-container; }
.fact-container { grid-area: fact-container; }
.comment-container { grid-area: comment-container; }

.fact-index-main-area {
    display: flex;
    row-gap: 20px;
}
.fact-index-main-area > ul {
    padding: 0;
}
.fact-index-main-area > ul > a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
    background-color: transparent; 
    color:rgb(255, 255, 254);
    font-size: 1.5em;
    list-style-type: none;
    padding: 20px;
    margin: 5px 0px;
}

.green {
    border: 2px solid rgb(38, 255, 0);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(12, 77, 1);
}

.red {
    border: 2px solid rgb(245, 56, 56);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(70, 12, 12);
}

.reddish {
    border: 2px solid rgb(252, 124, 73);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(73, 32, 16);
}
  
.sidebar {
    grid-area: sidebar;
    background-color: rgb(58, 58, 58);
    border: 2px solid rgb(97, 96, 96);
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-buttons > a {
    background-color: rgb(81, 0, 108);
    padding: 10px;
    width: 85%;
    text-align: center;
    border-radius: 0;
    border: 3px solid rgb(187, 1, 250);
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(252, 252, 252);
    font-size: 1.5em;
}
  

.sign-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px;
}

header {
    background-color: aqua;
}

.left { grid-area: left; }

.fact-title {
    font-size: 3em;
    letter-spacing: 0.1em;
}

.fact-text {
    margin: 50px 25px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.fact-buttons {
    margin-bottom: 25px;
}

.single-fact-area {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". fact-container ."
      ". comment-submit ."
      ". comments-container .";
  }

  .fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color:white
}
  
.comment-submit-container { grid-area: comment-submit; }
  
.comments-container { grid-area: comments-container; }

.stars-list-preview {
    padding: 0;
}

.comments-list-preview {
    padding: 0;
}
.stars-list-preview > li{
    border: 2px solid rgb(170, 167, 0);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(100, 99, 0);
    margin: 5px;
    list-style-type: none;
}

.comments-list-preview > li {
    border: 2px solid rgb(207, 206, 206);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(111, 111, 111);
    margin: 5px;
    list-style-type: none;
}

.user-area {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 1.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "top"
      "bottom"; 
}

.user-header { grid-area: top; }
.user-stuff { 
    grid-area: bottom;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "comments stars"; 
}

.user-comments-container {
    grid-area: comments; 
}
.user-stars-container {
    grid-area: stars; 
}