html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 77, 77);
}

.page-container {  display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar main-area";
      height: 100%;
}
  
.main-area { 
    grid-area: main-area; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

.fact-index-main-area {
    display: flex;
    row-gap: 20px;
}
.fact-index-main-area > ul {
padding: 0;
}
.fact-index-main-area > ul > a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
    background-color: transparent; 
    color:rgb(255, 255, 254);
    font-size: 1.5em;
    list-style-type: none;
    padding: 20px;
    margin: 5px 0px;

}



/* .fact-index-main-area > ul >li {
    padding: 20px;
    margin: 5px 0px;
} */

.green {
    border: 2px solid rgb(38, 255, 0);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(12, 77, 1);
}

.red {
    border: 2px solid rgb(245, 56, 56);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(70, 12, 12);
}

.reddish {
    border: 2px solid rgb(252, 124, 73);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgb(73, 32, 16);
}
  
.sidebar {
    grid-area: sidebar;
    background-color: rgb(88, 88, 88);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-buttons > a {
    background-color: aqua;
    width: 85%;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    
}
  

.sign-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px;
}

header {
    background-color: aqua;
}

.left { grid-area: left; }

.fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25%;
    background-color: rgb(166, 164, 164);
}

.fact-text {
    margin: 50px 25px;
}

.fact-buttons {
    margin-bottom: 25px;
}
  