<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
            <div class="sidebar">
                <%- include('../partials/sidebar')%>
            </div>
            <div class="comments-container">
                <h2 class="fact-title">Comments:</h2>

                <ol class="comments-list">
                    <% userComments.forEach((comment) => {%>
                        <li>
                            Comment: <%= comment.comment %><br>
                            Source: <%= comment.source %><br>
                            Date: <%= comment.date%>
                        </li>
                    <% }) %>
                </ol>
            </div>
         </div>

        <!-- <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p> -->

  </body>
</html>