<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
            <div class="sidebar">
                <%- include('../partials/sidebar')%>
            </div>
            <div class="main-area">
                <h1>Welcome to your account, <%= user.username %>!</h1>

                <div class="user-comments-container">
                    <h2>Comments:</h2>
                </div>

                <div class="user-stars-container">
                    <h2>Stars:</h2>

                </div>
            </div>

         </div>

        <!-- <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p> -->

  </body>
</html>